.month-header {
  width: 100%;
  display: inline-flex;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  margin-bottom: 16px;
}
