table {
  width: 100%;
  border-collapse: collapse;
}

td:first-child {
  width: 5rem;
  border: 0;
}

td:first-child::content {
  text-align: right;
  position: relative;
  top: -25px;
}

td {
  text-align: left;
  border: 1px solid var(--mat-sys-surface-container-highest);
  height: 40px;
  padding: 0;
}

.floating {
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 999;
}
