<table
  cdkDropList
  [cdkDropListData]="appointments"
  (cdkDropListDropped)="drop($event)"
>
  <tr *ngFor="let timeSlot of timeSlots">
    <td>{{ timeSlot.time }}</td>
    <td>
      <app-appointment
        [appointment]="appointmentsMap.get(timeSlot)"
        [timeSlot]="timeSlot"
        [date]="activeDate"
        (newAppointment)="addNewAppointment($event)"
        (updateAppointment)="updateAppointment($event)"
        (deleteAppointment)="deleteAppointment($event)"
      />
    </td>
  </tr>
</table>

<button
  class="floating"
  mat-fab
  color="primary"
  (click)="addNewAppointment({ date: activeDate })"
>
  <mat-icon>add</mat-icon>
</button>
