<mat-toolbar color="#9664">
  <div class="app-header">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Calendar</span>
  </div>
  <span class="spacer"></span>
  <app-date-info [date]="showDate" />
</mat-toolbar>

<mat-drawer-container class="calendar-container">
  <mat-drawer #drawer mode="side" opened>
    <app-calendar (dayChangeEvent)="onDayChanged($event)" />
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
